@charset "utf-8";
body {
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	background:url(../images/bg1.jpg) repeat-x bottom;
}
body, form {
	margin:0;
	padding:0;
	font-size:12px;

}
* {
	font-family:"宋体";
}
.width {
	width:960px;
	margin:auto;
	overflow:hidden;
}
.l {
	float:left;
}
.r {
	float:right;
}
.c {
	clear:both;
}
.m {
	margin-top:10px;
}
.red {
	color:#a12025;
}
.dis {
	display:none;
}
.m10 {
	margin:10px;
}
.mt10 {
	margin-top:10px;
}
.mr10 {
	margin-right:10px;
}
.mb10 {
	margin-bottom:10px;
}
a {
	text-decoration:none;
	color:#333;
	border:none;
}
a:hover {
	text-decoration:none;
	color:#a12025;
}
#top_logo {
	float:left;
	margin:16px 16px 0 40px;
}
#top_ad {
	float:left;
	margin:0px 0 10px 0;
	width:960px;
	text-align:center;
	height:100px;
	background:url(../Images/banner.png)
}
#top_other {
	float:right;
	margin:0;
	line-height:22px;
	font-family:arial;
	color:#333;
	text-align:center;
	width:80px;
}
#top_other a {
	font-family:arial;
}
#menu {
	width:960px;
	margin:0 auto 0 auto;
	overflow:hidden;
}
.menu {
	margin:0 0 0 40px;
	padding:0;
}
.menu dt {
	margin-right:1px;
	float:left;
}
.menu dt a {
	background:url(../images/sdcms.gif) 0 -30px;
	width:86px;
	height:28px;
	padding-top:2px;
	line-height:28px;
	display:block;
	text-align:center;
	color:#a12025;
}
.menu dt a:hover {
	background:url(../images/sdcms.gif);
	width:86px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	color:#fff;
	font-size:14px;
}
.menu .hover {
	background:url(../images/sdcms.gif);
	width:86px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	color:#fff;
	font-size:14px;
}
.menu .hover a {
	background:url(../images/sdcms.gif);
	width:86px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	color:#fff;
	font-size:14px;
}
#top_search {
	background:#a12025;
	height:30px;
	line-height:30px;
        margin-bottom:12px;

}
.top_search {
	margin:0 0 0 36px;
	padding:0;
	width:100%;
	height:30px;
	line-height:30px;
	color:#fff;
}
.top_search dt {
	float:left;
	margin-right:1px;
}
.top_search span {
	color:#ff0;
	padding-left:12px;
}
.top_search a {
	color:#fff;
}
.top_search a:hover {
	color:#ff0;
}
.search_input {
	border:0;
	color:#B2B2B2;
	height:18px;
	line-height:18px;
	font-size:12px;
	text-indent:4px;
	margin-top:5px;
*margin-top:1px;
	_margin-top:4px;
}
.search_bnt {
	background:url(../images/sdcms.gif) 0 -83px;
	width:43px;
	height:21px;
	line-height:21px;
	color:#a12025;
	text-align:center;
	border:0;
	margin-top:4px;
*margin-top:1px;
	_margin-top:4px;
}
#notice {
	background:url(../images/sdcms.gif) 0 -283px;
	height:41px;
	line-height:35px;
}
#notice1{
	height:10px;
}
#notice div {
	float:left;
}
#notice .notice {
	width:320px;
}
#movenews {
	overflow:hidden;
	height:34px;
	line-height:34px;
	margin-top:1px;
}
#notice .icon {
	background:url(../images/sdcms.gif) 0 -240px;
	width:14px;
	height:14px;
	margin:10px 10px 6px 10px;
	display:block;
	float:left;
}
#notice .icon01 {
	background:url(../images/sdcms.gif) 0 -60px;
	width:67px;
	height:23px;
	margin:6px 10px 6px 20px;
	line-height:23px;
	float:left;
	text-align:center;
	color:#555;
}
#notice b {
	color:#a12025;
}
#left {
	float:left;
	width:720px;
	margin-right:10px;
}
.left_w {
	overflow:hidden;
	width:720px;
}
.left_w_01 {
	overflow:hidden;
	width:718px;
}
#right {
	float:left;
	width:230px;
}
#index_ad {
	float:left;
	width:330px;
	margin-right:10px;
	background:#a12025;
	height:250px;
}
#ontop {
	float:left;
	width:378px;
	overflow:hidden;
	border:1px solid #a12025;
}
.subject_bg {
	background:url(../images/sdcms.gif) 0 -254px;
	height:29px;
	line-height:29px;
}
.subject_title {
	font-size:14px;
	font-weight:bold;
	color:#a12025;
	padding-left:12px;
}
.subject_title a {
	color:#a12025;
}
.subject_title a:hover {
	color:#a12025;
}
.subject_title span {
	float:right;
	font:12px/30px "宋体";
	padding-right:10px;
}
.subject_title span a {
	color:#a12025;
	font:12px/30px "宋体";
}
.subject_title span a:hover {
	color:#a12025;
	font:12px/30px "宋体";
}
.subject_title span span {
	float:none;
	font:12px/30px "宋体";
	padding-right:0;
}
.ontop {
	background:url(../images/sdcms.gif) -102px 0 no-repeat;
	height:217px;
	border:1px solid #fff;
}
.ontop h1 {
	color:#a12025;
	font:500 16px Microsoft Yahei;
	text-align:center;
	margin:4px;
}
.ontop h1 a {
	color:#a12025;
	font:500 16px Microsoft Yahei;
}
.ontop h1 a:hover {
	color:#a12025;
	font:500 16px Microsoft Yahei;
}
.ontop_div {
	margin:10px;
	color:#999;
	line-height:17px;
}
.index_news {
	margin:10px 0 0 0;
	color:#999;
}
.index_news dt {
	height:25px;
}
.index_news span {
	float:right;
}
.border {
	border:1px solid #a12025;
}
.subject_title01 {
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#a12025;
	text-indent:12px;
	width:60px;
}
.subject_title02 {
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#a12025;
	text-indent:12px;
	width:550px;
}
.subject_title03 {
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#a12025;
	text-indent:12px;
	width:710px;
}
.sub_menu {
	margin:0;
	padding:0;
	float:left;
}
.sub_menu dt {
	float:left;
	width:79px;
	height:29px;
	color:#a12025;
	text-align:center;
	cursor:pointer;
}
.sub_menu dt.hover {
	background:#fff url(../images/sdcms.gif) 0 -104px no-repeat;
	width:79px;
	height:29px;
	color:#a12025;
}
.sub_menu a {
	color:#a12025;
}
.sub_menu a:hover {
	color:#a12025;
}
#index_hot {
	width:228px;
}
#index_digg {
	margin:0;
	padding:0;
}
#index_digg dt {
	clear:both;
	display:block;
}
.digg {
	background:url(../images/sdcms.gif) 0 -133px no-repeat;
	width:51px;
	height:53px;
	float:left;
	margin-right:10px;
	text-align:center;
}
.digg_num {
	color:#a12025;
	font-family:georgia;
	font-size:16px;
	height:28px;
	line-height:28px;
}
.digg_link {
	color:#a12025;
	margin:8px 0 0 1px;
}
.digg_link a {
	color:#a12025;
}
.digg_link a:hover {
	color:#a12025;
}
.digg_info {
	width:180px;
	float:left;
	font-size:14px;
	line-height:24px;
	word-break:break-all;
}
.digg_info div {
	color:#999;
	font-size:12px;
	line-height:normal;
	margin-bottom:10px;
*margin-bottom:0;
	height:30px;
}
.hot_list {
	margin:0;
	padding:0;
}
.hot_list dt {
	margin-top:10px;
}
.hot_list b {
	font-weight:normal;
	line-height:24px;
}
.hot_list span {
	float:right;
}
.hot_list div {
	color:#999;
	line-height:18px;
}
.hot_list div img {
	max-width:120px;
}
.all_list {
	margin:0;
	padding:0;
	background:url(../images/sdcms.gif) -86px 6px no-repeat;
}
.all_list dt {
	line-height:25px;
	padding-left:20px;
}
.all_list b a {
	color:#36A831;
}
.all_list b a:hover {
	color:#a12025;
}
.all_list span {
	float:right;
}
.all_list div {
	color:#999;
	line-height:15px;
}
.nopic {
	border:1px solid #a12025;
	margin:0 6px 1px 0;
}
/*.index_count{margin:0;padding:0;}
.index_count span{color:#f60;}
.index_count dt{line-height:25px;}
*/
.index_vote {
	margin:0;
	padding:0;
}
.index_vote dt {
	line-height:25px;
}
.index_vote h3 {
	margin:0;
	padding:0;
	font:16px Microsoft Yahei;
	text-align:center;
	color:#a12025;
}
.vote_bnt {
	background:url(../images/sdcms.gif) 0 -212px;
	width:66px;
	height:28px;
	line-height:28px;
	border:0;
	text-align:center;
	font-size:14px;
	color:#a12025;
	margin:4px;
}
.index_left {
	width:353px;
	overflow:hidden;
	margin-top:10px;
	float:left;
	height: 289px;
}
.index_photo {
	margin:0;
	padding:0;
}
.index_photo dt {
	width:19%;
	float:left;
	text-align:center;
}
.index_photo dt img {
	border:1px solid #a12025;
	padding:2px;
}
.index_photo dt div {
	padding:6px 0;
	background:#ffffff;
	width:120px;
	margin:-3px 9px 10px 0;
 *margin:0 0 10px 0;
	color:#a12025;
}
.index_photo a {
	color:#a12025;
}
.index_photo a:hover {
	color:#f60;
}
.index_label {
	line-height:20px;
	font-family:arial;
}
.index_label a {
	font-family:arial;
}
.index_label span {
	color:#999;
}
.index_link {
	margin:0;
	padding:0;
	width:100%;
}
.index_link dt {
	float:left;
	width:10%;
	margin-bottom:10px;
}
#foot {
	text-align:center;
	padding:16px 0;
	color:#003;
	line-height:20px;
	font-family:Arial;
}
#foot a {
	color:#003;
	font-family:Arial;
}
.foot_menu {
	color:#003;
	margin-bottom:10px;
}
.foot_menu a {
	color:#a12025;
}
.foot_menu a:hover {
	color:#a12025;
}
#Positon {
	background:url(../images/sdcms.gif) 0 -283px;
	height:41px;
	line-height:35px;
	text-indent:10px;
}
.info_title {
	margin:6px 0;
	font:16px Microsoft Yahei;
	text-align:center;
}
.info_other {
	text-align:center;
	color:#999;
	margin:4px 0;
}
.info_jj {
	border:1px solid #FDCC97;
	background:#FEFCFA;
	padding:10px;
	margin:10px 0;
	color:#666;
	line-height:20px;
	word-break:break-all;
}
.info_jj span {
	font-weight:bold;
	color:#000;
}
.info_content {
	word-break:break-all;
	width:718px;
	overflow:hidden;
	line-height:24px;
	line-height:24px;
	font-size:14px;
}
.info_content img {
	max-width:600px;
}
.other_content {
	word-break:break-all;
	width:930px;
	overflow:hidden;
	line-height:24px;
}
.other_content img {
	max-width:900px;
}
#Digg {
	margin:10px auto 10px auto;
	padding:0;
	width:402px;
	height:59px;
	display:block;
}
#Digg .up {
	float:left;
	margin-right:10px;
	background:url(../Images/digg_up.gif) no-repeat;
	width:196px;
	height:59px;
	display:block;
	cursor:pointer;
}
#Digg .up_over {
	float:left;
	margin-right:10px;
	background:url(../Images/digg_up_over.gif) no-repeat;
	width:196px;
	height:59px;
	display:block;
	cursor:pointer;
}
#Digg .down {
	float:left;
	background:url(../Images/digg_down.gif) no-repeat;
	width:196px;
	height:59px;
	display:block;
	cursor:pointer;
}
#Digg .down_over {
	float:left;
	background:url(../Images/digg_down_over.gif) no-repeat;
	width:196px;
	height:59px;
	display:block;
	cursor:pointer;
}
#Digg .percent {
	width:60px;
	height:7px;
	margin:13px 0 0 18px;
	overflow:hidden;
}
#Digg .percent01 {
	background:#82D114;
	height:7px;
}
#Digg .percent02 {
	background:#A9A9A9;
	height:7px;
}
#Digg .percent03 {
	position:absolute;
	margin:-10px 0 0 90px;
}
.info_next {
	color:#999;
	margin-top:6px;
}
/*内容分页部分*/
.content_page {
	text-align:center;
	margin:8px;
}
.content_page a {
	background:#fff;
	margin:1px;
	padding:4px 6px;
	border:1px solid #AECD9E;
	color:#A0A0A0;
}
.content_page span {
	background:#F7FDF4;
	color:#f60;
	margin:1px;
	padding:4px 6px;
	border:1px solid #AECD9E;
}
.content_page input {
	position:absolute;
	margin:0 0 0 1px;
	padding:0;
	background:#fff;
	border:1px solid #AECD9E;
	color:#A0A0A0;
	width:30px;
	height:22px;
	line-height:22px;
	text-align:center;
}
.content_page button {
	position:absolute;
	margin:0 0 0 35px;
	padding:0;
	background:#fff;
	border:1px solid #AECD9E;
	color:#A0A0A0;
	width:40px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:12px;
}
/*Ajax评论*/
.comment_add {
	margin:0;
	padding:0;
}
.comment_add dt {
	list-style:none;
	margin:4px 0;
	padding:0;
}
.comment_add .input {
	height:20px;
	line-height:20px;
	border:1px solid #ccc;
	padding:0px;
	font-size:12px;
}
.comment_add .xheditor-mini {
	width:680px;
	height:100px;
	margin:0;
	padding:0;
}
.comment_title {
	background:url(../images/sdcms.gif) 0 -254px;
	height:29px;
	line-height:29px;
	border:1px solid #CEE5C2;
	border-bottom:0;
	color:#a12025;
	padding-left:12px;
}
.comment_title span {
	color:#999;
}
.comment_title b {
	font-weight:normal;
	float:right;
	margin-right:10px;
}
.comment_content {
	border:1px solid #CEE5C2;
	border-top:0;
	padding:6px;
	overflow:hidden;
	word-break:break-all;
	margin-bottom:10px;
}
.comment_content img {
	max-width:600px;
}
#showmsg {
	color:#f00;
}
.comment_page {
	text-align:center;
	margin-bottom:10px;
}
.comment_page a {
	background:#fff;
	margin:0px 1px;
	padding:4px 6px;
	border:1px solid #AECD9E;
	color:#A0A0A0;
}
.comment_page span {
	background:#F7FDF4;
	color:#f60;
	margin:0px 1px;
	padding:4px 6px;
	border:1px solid #AECD9E;
}
.comment_page input {
	position:absolute;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #AECD9E;
	color:#A0A0A0;
	width:30px;
	height:22px;
	line-height:22px;
	text-align:center;
}
.comment_page button {
	position:absolute;
	margin:0 0 0 35px;
	padding:0;
	background:#fff;
	border:1px solid #AECD9E;
	color:#A0A0A0;
	width:40px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:12px;
}
.class_list {
	margin:0;
	padding:0;
}
.class_list dt {
	line-height:25px;
}
.list_title {
	font:14px Microsoft Yahei;
	margin:0;
	padding:0;
	color:#03f;
}
.list_title a {
}
.list_title a:hover {
	color:#a12025;
}
.list_jj {
	color:#999;
	margin:5px 0;
	word-break:break-all;
}
.list_other {
	color:#777;
	margin-bottom:10px;
	border-bottom:1px dashed #ccc;
	padding-bottom:5px;
}
.list_other span {
	color:#a12025;
}
.list_photo {
	margin:0;
	padding:0;
	width:698px;
}
.list_photo dt {
	width:139px;
	float:left;
	text-align:center;
}
.list_photo dt img {
	border:1px solid #CEEDC0;
	padding:2px;
}
.list_photo dt div {
	padding:6px 0;
	background:#CEEDC0;
	width:126px;
	margin:-3px 0 10px 9px;
*margin:0 0 10px 0;
	color:#a12025;
}
.list_photo a {
	color:#a12025;
}
.list_photo a:hover {
	color:#f60;
}
.notice_other {
	color:#777;
	margin:5px 0 10px 0;
	border-bottom:1px dashed #ccc;
	padding-bottom:5px;
}
.notice_other span {
	color:#a12025;
}
.tag_title {
	font:12px;
	color:#333;
	float:left;
	width:20%;
	margin:5px 0;
}
.tag_title span {
	color:#999;
	font-size:12px;
}
.tag_title a {
	color:#555;
}
.tag_title a:hover {
	color:#a12025;
}
.plug_book_add {
	margin:0;
	padding:0
}
.plug_book_add dt {
	margin:6px 0;
}
.plug_book_add dt .input {
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
}
.plug_book_add dt .xheditor-mini {
	width:150px;
	height:100px;
}
.plug_publish_add {
	margin:0;
	padding:0
}
.plug_publish_add dt {
	margin:6px 0;
	line-height:26px;
}
.plug_publish_add dt .input {
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
	color:#555;
	font-size:12px;
}
.plug_publish_add dt .inputs {
	border:1px solid #ccc;
	height:40px;
	line-height:20px;
	width:98%;
	color:#555;
	font-size:12px;
}
.plug_publish_add dt .xheditor-simple {
	width:98%;
	height:180px;
}
.plug_publish_add dt span {
	color:#096901;
}
.plug_publish_add a {
	color:#00f;
}
.plug_publish_add a:hover {
	color:#a12025;
}
.plug_link {
	margin:0;
	padding:0;
	width:698px;
}
.plug_link dt {
	float:left;
	width:20%;
	margin-bottom:10px;
	text-align:center;
}
#yzm_num {
	cursor:pointer;
}
.hand {
	cursor:pointer;
}
.index_link_add {
	margin:0;
	padding:0;
}
.index_link_add dt {
	float:left;
	margin-right:4px;
}
.index_link_add dt .input {
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
}
.vote_show {
	margin:20px;
	padding:0;
}
.vote_show dt {
	margin:10px;
}
.vote_show dt h3 {
	margin:0;
	padding:0;
	font:18px Microsoft Yahei;
	color:#a12025;
	text-align:center;
}
.vote_show dt span {
	float:right;
	margin:2px 20px 2px 0;
	width:350px;
	height:20px;
}
.vote_show dt span img {
	max-width:348px;
}
.vote_show dt.r {
	width:370px;
	height:20px;
}
/*编辑器相关属性*/
.Quotetitle {
	margin:10px 6px 0 0;
	padding:2px 10px;
	background:#FFEBD0;
	border:1px solid #FDDCB8;
	font:bold 14px/24px "宋体";
	color:#a12025;
}
.QuoteCode {
	margin:0 6px 10px 0;
	padding:4px 10px;
	background:#FFF;
	border:1px solid #FDDCB8;
	border-top:0;
	word-break:break-all;
	color:#777;
}
.RunCodes {
	clear:both;
	height:180px;
	margin:10px 0 20px 0;
}
.RunCodes textarea {
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #C3E8AA;
	padding:3px;
	width:98%;
	height:150px;
}
.RunCodes input {
	float:left;
	border:1px solid #a12025;
	background:#a12025;
	color:#FFF;
	width:80px;
	margin:1px 2px 0 0;
	padding:5px 10px 0px !important;
	padding:2px 10px 0px;
	font-size:12px;
}
.RunCodes span {
	float:left;
	margin:10px 0 0 5px;
	_margin:0 0 0 5px;
	color:#999;
	font-size:12px;
}
.Topic_List {
	margin:0 0 10px 0;
	padding:0;
	clear:both;
	display:block;
	height:70px;
}
.Topic_List img {
	border:1px solid #a12025;
	margin:0 10px 0 0;
}
.Topic_List h1 {
	font:15px/30px Microsoft Yahei;
	margin:0;
	padding:0;
}
.Topic_List a {
	color:#090;
}
.Topic_List span {
	color:#999;
	line-height:18px;
}
.publish_notice {
	margin:0;
	padding:0;
}
.publish_notice dt {
	line-height:20px;
	color:#555;
	text-indent:24px;
}
#img {
	position: absolute;
	left: 5px;
	top: 3px;
}
#main {
	width:960px;
	position:relative;
	left:50%;
	margin-left:-480px;
}
#bg{
	}
#bg2{
	background:url(../Images/bg3.jpg) top no-repeat ; }
#zt {
	width:718px;
	margin:10px 0;
}
img {border-width: 0px 0px 0px 0px}